<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Thoughts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class ="text-4xl text-red">
        <h1>Techie Thoughts - A Handlebars Blog Site
        </h1>
        </header>


        <div class = "loginBlock">
            {{#if logged_in}}
                  <a href="/profile">
            <a href = "/" class="homeButton"></a>
            <h2>Account</h2></a>
            <button id = "logout">Logout</button>
            {{else}}
            <a href="/login"><h1>Log In</h1></a>
            {{/if}}
        </div>

    <main>
        {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="../../public/logout.js"></script>
    {{/if}}
    
</body>
</html>