<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Thoughts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class = "flex-col items-center pl-4">
    <nav class = "flex justify-center font-mono">
        <div class="grid grid-cols-3 divide-x divide-amber-800 border-2 border-amber-800 mb-7">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/profile">Profile</a>
            </div>
        </div>
    </nav>
    <header class ="font-mono">
        <h1 class ="text-4xl mb-11 text-amber-800 flex justify-center">Techie Thoughts
            </h1>
            <h2 class="text-2xl mb-1 flex justify-center">A TailwindCSS Blog Site - Styled with TailwindCSS!
                </h2>
    </header>
    <div class="login-area">
        {{#if logged_in}}
        <a href="/profile"></a>
        <button id="logout" class="border text-amber-800 pl-4">Logout</button>

        {{else}}
        <a href="/login">
            <button class = "border border-amber-800 mb-11">Log In</button>
        </a>
        {{/if}}
    </div>

    <main>
        {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="/logout.js"></script>
    {{/if}}

</body>

</html>