<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techie Thoughts</title>
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<style>
    .backgroundImage {
        background-image: url("../assets/ttbackground.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        background-size:fit-content;
        position: fixed;
        z-index: -1;
    }
</style>

<body>
    <header class ="flex justify-space-between align center p-3">
        </header>

        <div class = "backgroundImage"></div>
        <h1>Techie Thoughts - A Handlebars Blog Site

        </h1>
        <div class = "login">
            {{#if logged_in}}
            <a href = "/" class="homeButton"></a>
            <a href = "/profile"><h2 class = "accountButton">Account</h2></a>
            <button id = "logout" class = "logoutButton">Logout</button>
            {{else}}
            <a href="/login"><h1 class = "loginButton">Log In</h1></a>
            {{/if}}
        </div>

    <main class = "container container-fluid mt-4">
        {{{ body }}}
    </main>
    {{#if logged_in}}
    <script src="../../public/logout.js"></script>
    {{/if}}
    
</body>
</html>