<div class="border">
  <h2 class="text-4xl">
    <a class="border">{{name}}</a>
  </h2>
  <p class="border">Created by {{user.name}} on {{date_created}}</p>
  <div>
    <p class="blogContent">
      {{content}}
    </p>
  </div>
</div>