<div class="text-center postCardEntire">
  <h2 class="blogTitle">
    <a class="title">{{name}}</a>
  </h2>
  <p class="blogAuthor">Created by {{user.name}} on {{format_date date_created}}</p>
  <div class="col-md-12 descriptionContainer">
    <p class="blogDescription">
      {{description}}
    </p>
  </div>
</div>