{{#each blogs as |blog|}}
<div class = "font-mono divide-y divide-amber-800">
    <div>
    <a  class="font-bold text-xl text-amber-800" href="/blog/{{blog.id}}">{{blog.title}}</a>
    <p>Created by {{blog.user.name}}</p>
    <p class = "mb-7">
        {{blog.content}}</p>
        {{#if logged_in}}
        <div>
        <button class="border border-amber-800">Comment</button>
        </div>
        {{/if}}
    </div>
    {{/each}}
    <h2>Must be logged in to comment</h2>
</div>