{{#each blogs as |blog|}}
<div>
    <h2>
        <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <div></div>
    <p>Created by {{blog.user.name}}</p>
    <p>
        {{blog.content}}
    </p>
</div>
{{/each}}