{{#each blogs as |blog|}}
<div class="col-md-12 mb-4 postCardEntire">
    <h2 class="blogTitle">
        <a class = "title href=/blog/{{blog.id}}">{{blog.name}}</a>
    </h2>
    <div class="title-border"></div>
    <p class="blogUser">Created by {{blog.user.name}}</p>
    <p class ="blogDescription">
        {{blog.description}}
    </p>
</div>
{{/each}}