<div>
    <div>
      <h2 class="text-4xl">Please Login to Post</h2>

      <form>
        <div>
          <label>Email:</label>
          <input type="text" id="email-login" placeholder="Enter your email" />
        </div>
        <div>
          <label>Password:</label>
          <input type="password" id="password-login" placeholder="Enter your password" />
        </div>
      
        <div>
          <button type="submit">Login!</button>
        </div> 
      </form>
      <br>
      <hr>
      <br>
      <h2 id="acc-signup">I need an account!</h2>
      <div id="hide-signup">
        <form>
          <div>
            <label id="username-label">Username must be between 6 -18 characters</label>
            <input type="text" id="name-signup" placeholder="Enter your username" />
          </div>
          <div>
            <label id="email-label">Email:</label>
            <input type="text" id="email-signup" placeholder="Enter your email"/>
          </div>
          <div>
            <label id="password-label">Password must be at least 8 characters long including numbers and special characters</label>
            <input type="password" id="password-signup" placeholder="Enter your password" />
          </div>
          <div>
            <label id="pw-tryagain">Please re-enter your password</label>
            <input type="password" id="password-signup2" placeholder="Enter your password again"/>
          </div>
          <div>
            <button id="createBtn" type="submit">Create Account!</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<script src="../public/login.js"></script>