<div>
    <h2>Welcome, {{name}}!</h2>
</div>

<div>

<div>
  <div class=>
    <h2>Create a new blog post:</h2>

    <form class="form new-post-form">
      <div>
        <label for="blog-title">Blog Title:</label>
        <input class="form-input" type="text" id="blog-title" name="blog-title" placeholder="Enter name"/>
      </div>
      <div class="form-group">
        <label>Content:</label>
        <textarea id="blog-content" name="blog-content" placeholder="Enter blog content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Create</button>
      </div>
    </form>
  </div>

  {{#if blogs.length}}
  <div class="blog-title">
    <h3>Current Blogs:</h3>

    <div>
    
    {{#each blogs as |blog|}}
      <div>
        <h4><a href="/blog/{{blog.id}}">{{blog.title}}</a></h4>
        <button data-id="{{blog.id}}">DELETE</button>
      </div>
    {{/each}}
  </div>
  </div>
  {{/if}}
</div>
<script src="../public/profile.js"></script>